<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sniglet:800' rel='stylesheet' type='text/css'>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/portfolio.pack.min.js"></script>
    <title>Home</title>
  </head>

  <body>
    <div data-spy="scroll" data-target="#navbar">
      <div id="b1">
        <img id="bubbles1" class="bubbles" src="assets/bubbles1.png">
        <i id="edit" class="icons icon-edit icon-4x icon-large"></i>
      </div>
      <div id="b2">
        <img id="bubbles2" class="bubbles" src="assets/bubbles2.png">
        <i id="bullseye" class="icons icon-bullseye icon-3x icon-large"></i>
      </div>
      <div id="b3">
        <img id="bubbles3" class="bubbles" src="assets/bubbles3.png">
        <i id="shield" class="icons icon-shield icon-4x icon-large"></i>
      </div>
      <div id="b4">
        <img id="bubbles4" class="bubbles" src="assets/bubbles4.png">
        <i id="compass" class="icons icon-compass icon-3x icon-large"></i>
        <div id="gallery4" class="galleries">
          <img id="noesis1" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/1.jpg" />
          <img id="noesis2" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/2.jpg" />
          <img id="noesis3" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/3.jpg" />
          <img id="noesis4" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/4.jpg" />
          <img id="noesis5" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/5.jpg" />
          <img id="noesis6" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/6.jpg" />
          <img id="noesis7" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/7.jpg" />
          <img id="noesis8" class="noesis" data-src="https://dl.dropbox.com/u/1218282/slideshow/8.jpg" />
        </div>
      </div>
     <!--  <div id="text4" class="text"></div> -->
      <div id="b5">
        <img id="bubbles5" class="bubbles" src="assets/bubbles5.png">
        <p id="hash" class="icons">{}</p>
      </div>
      <div id="b6">
        <img id="bubbles6" class="bubbles" src="assets/bubbles6.png">
        <i id="star" class="icons icon-star icon-3x icon-large"></i>
      </div>

      <div id="navbar">
        <ul>
          <a href="#bubbles4">
            <img id="little_bubbles4" class="little_bubbles" src="assets/little_bubbles4.png">
          </a>
        </ul>
        <ul>
          <a href="#bubbles3">
            <img id="little_bubbles3" class="little_bubbles" src="assets/little_bubbles3.png">
          </a>
        </ul>
        <ul>
          <a href="#bubbles5">
            <img id="little_bubbles5" class="little_bubbles" src="assets/little_bubbles5.png">
          </a>
        </ul>
        <ul>
          <a href="#bubbles2">
            <img id="little_bubbles2" class="little_bubbles" src="assets/little_bubbles2.png">
          </a>
        </ul>
        <ul>
          <a href="#bubbles1">
            <img id="little_bubbles1" class="little_bubbles" src="assets/little_bubbles1.png">
          </a>
        </ul>
        <ul>
          <a href="#bubbles6">
            <img id="little_bubbles6" class="little_bubbles" src="assets/little_bubbles6.png">
          </a>
        </ul>
      </div>
    </div>
    <div id="content">
      <i id="home" class="icons icon-home icon-3x icon-large"></i>
      <img id="profile_photo" class="item pic" src="assets/profile_pic.jpeg">
      <div id="icons">
        <a href="https://linkedin.com/pub/zara-peisker/51/b43/604/"><img id="linked_in" class="item icon" src="assets/linkedin.jpg"></a>
        <a href="https://twitter.com/zarapeisker"><img id="twitter" class="item icon" src="assets/twitter.jpg"></a>
        <a href="mailto:zarapeisker@gmail.com"><img id="gmail" class="item icon" src="assets/gmail.jpg"></a>
        <a href="https://github.com/zarapeisker"><img id="github" class="item icon" src="assets/github.jpg"></a>
      </div>
    </div>
  </body>
</html>

